<form action="/cart" method="post">
<<<<<<< HEAD
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
=======
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
>>>>>>> 6819a78994ff93bcce6045323f89a23534abcb41
</form>